<% if resource.errors.any? %>
  <div id="error_explanation">
    <% resource.errors.full_messages.each do |message| %>
      <%= content_tag(:div, message, class: "alert alert-primary", role: "alert") %>
    <% end %>
  </div>
<% end %>
