<div class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top">
  <a class="navbar-brand" href="/">
    <img alt="Pipeline" src="/assets/img/logo.svg" />
  </a>
  <div class="d-flex align-items-center">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="d-block d-lg-none ml-2">
      <div class="dropdown">
        <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img alt="Image" src="/assets/img/avatar-male-4.jpg" class="avatar" />
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <%= link_to "Log Out", destroy_user_session_path, :method => :delete, class: "dropdown-item" %>
        </div>
      </div>
    </div>
  </div>
  <div class="collapse navbar-collapse flex-column" id="navbar-collapse">
    <ul class="navbar-nav d-lg-block">

      <li class="nav-item">
        <a class="nav-link" href="/calendars">Calendars</a>
      </li>

    </ul>
    <hr>
  </div>
  <div class="d-none d-lg-block">
    <div class="dropup">
      <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img alt="Image" src="<%= current_user.gravatar %>" class="avatar" />
      </a>
      <div class="dropdown-menu">
        <%= link_to "Log Out", destroy_user_session_path, :method => :delete, class: "dropdown-item" %>
      </div>
    </div>
  </div>
</div>